<h2>Getting Users from DataBase</h2>

<ul class='list-inline'>
  <% @users.each { |user| %>
  <li>
      <%= user[:name] %>
  </li>
  <% } %>
</ul>

<table class='table'>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Date Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <% user[:id] %>
      </td>
      <td>
        <% user[:name] %>
      </td>
      <td>
        <% user[:email] %>
      </td>
      <td>
        <% user[:address] %>
      </td>
      <td>
        <% user[:date_joined] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
