

<h3> Register Here </h3>

<form action="/users" method="post">
  <label for="name">New User Name</label>
  <input id="name" type="text" name="user[name]" value="">

  <label for="address">Address</label>
  <input id="address" type="text" name="user[address]" value="">

  <label for="email_address">Email Address</label>
  <input id="email_address" type="text" name="user[email_address]" value="">

  <label for="nationality">Nationality</label>
  <input id="nationality" type="text" name="user[nationality]" value="">

  <input type="submit" value="submit">

</form>
